.TEXTO {
	font-family: "Trebuchet MS";
	font-size: 10px;
	color: #FFFFFF;
}
.legenda {
	font-family: "Trebuchet MS";
	font-size: 9px;
	color: #CCCCCC;
}
body {
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.titulo {
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: bold;
	color: #FF9900;
}
.tab_head	{ 
font-family: "Trebuchet MS";
BORDER-RIGHT: #40467F 1px solid; 
BORDER-TOP: #626BBC 1px solid; 
BORDER-LEFT: #303560 1px solid; 
BORDER-BOTTOM: #212443 1px solid 
}
a:link {
	font-family: "Trebuchet MS";
	font-size: 10px;
	font-weight: bold;
	color: #FF9900;
	text-decoration: none;
}
a.linque {
	display:block; /* Este foi o único acréscimo em relação a página anterior */ 
	font-family: "Trebuchet MS";
	font-size: 10px;
	font-weight: bold;
	color: #FF9900;
	text-decoration: none;
}
a.linque:hover {
	color:#ffc; 
	background-color:#0400AD; 
}
.linhalaranja	{ 
font-family: "Trebuchet MS";
BORDER-BOTTOM: #ff9900 1px solid 
}
.textolaranja {
	font-family: "Trebuchet MS";
	font-size: 10px;
	font-weight: bold;
	color: #FF9900;
}
.sublaranja {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: bold;
	color: #FF9900;
}
